body {
  background-color: rgb(255, 255, 255);
}

header h1 {
  margin-left: 42px;
  margin-top: 20px;
  color: rgb(201, 74, 201);
}

main {
  margin-top: 8%;
}

main section p nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px solid rgb(78, 77, 77);
  background-color: rgb(137, 138, 137);
  text-decoration: none;
  color: white;
  width: 200px;
}

main section p nav a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

main .subNavigation li {
  padding: 10px;
  border: 5px solid rgb(78, 77, 77);
  background-color: rgb(137, 138, 137);
  text-decoration: none;
  color: white;
  width: 200px;
}

.subNavigation li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 8px;
  border: 2px solid rgb(78, 74, 74);
}

.quiz button {
  width: 100%;
}

header ul {
  margin-left: -55px;
  margin-top: 4%;
}

header ul li {
  display: inline-block;
  margin-right: 3%;
  margin-left: 3%;
}

header a {
  padding: 10px;
  border: 5px solid rgb(78, 77, 77);
  background-color: rgb(137, 138, 137);
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 340px) {
  header ul li {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
